@model TextilesMedicosJDJ.Models.Produccion

@{
    ViewData["Title"] = "Editar Orden";
}

<h1>Editar Orden de producción</h1>

<h4>Produccion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductoId" />
            <div class="form-group">
                <label asp-for="TipoProducto" class="control-label"></label>
                <input asp-for="TipoProducto" class="form-control" />
                <span asp-validation-for="TipoProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioAproximado" class="control-label"></label>
                <input asp-for="PrecioAproximado" class="form-control" />
                <span asp-validation-for="PrecioAproximado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaProducción" class="control-label"></label>
                <input asp-for="FechaProducción" class="form-control" />
                <span asp-validation-for="FechaProducción" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadProduccion" class="control-label"></label>
                <input asp-for="CantidadProduccion" class="form-control" />
                <span asp-validation-for="CantidadProduccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a ordenes</a>
</div>

