@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Notificacion de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor revisa tu correo para realizar el cambio de contraseña.
</p>

