@page
@model LockoutModel
@{
    ViewData["Title"] = "Bloquedo";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Esta cuenta ha sido bloqueada regresa mas tarde y revisa si puedes ingresar.</p>
</header>
