@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmacion de reseteo de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tu contraseña ha sido reseteada. Por favor <a asp-page="./Login">de Click aqui para ingresar</a>.
</p>
