@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Datos personales";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Tu cuenta tiene los datos personales que nos has entregado. Aqui podras descargar o eliminar tu información personal.</p>
        <p>
            <strong>Eliminar tu información personal, eliminara tambien tu cuenta sin posiblidiad de recuperar tu información.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Descargar información personal</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Eliminar información personal</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}